# Ignore node_modules directory
node_modules

# Ignore logs and debugging files
logs
*.log
npm-debug.log*

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db

# Ignore application configuration
config.js

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore user-specific files
.npmrc
.npmignore
.npm-debug.log

# Ignore yarn.lock file
yarn.lock

# Ignore Visual Studio Code settings
.vscode/

# Ignore WebStorm files
.idea/

# Ignore Webpack build directory
dist/
